<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="compilerLogListener" type="System.Diagnostics.TextWriterTraceListener,System"
             initializeData="mcs.log" />
        <remove type="System.Diagnostics.DefaultTraceListener,System"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
