[submodule "dnlib"]
	path = dnlib
	url = https://github.com/0xd4d/dnlib.git
[submodule "NRefactory2"]
	path = NRefactory2
	url = https://github.com/0xd4d/nrefactory.git
[submodule "AvalonEdit"]
	path = AvalonEdit
	url = https://github.com/0xd4d/avalonedit.git
