bin/
obj/

/ICSharpCode.Decompiler/Properties/AssemblyInfo.cs
/ILSpy/Properties/AssemblyInfo.cs
/ILSpy/app.config
*.suo
*.user
/Resharper-ILSpy-Style.xml
_ReSharper*/
*.ReSharper
*.patch
/packages
*.ide/
