<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- The redirects allow using AddIns with a different ILSpy version than they were compiled against. -->
			<!-- No guarantee they'll work correctly, though. -->
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.TreeView" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="4.1.0.0-99.9.9.9" newVersion="4.1.0.7275"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9cc39be672370310" culture="neutral"/>
				<bindingRedirect oldVersion="4.1.0.0-99.9.9.9" newVersion="4.1.0.7920"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-99.9.9.9" newVersion="5.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory.CSharp" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-99.9.9.9" newVersion="5.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory.VB" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-99.9.9.9" newVersion="5.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.Decompiler" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="$INSERTVERSION$"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.ILSpy" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="$INSERTVERSION$"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
