<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="dnlib" publicKeyToken="50e96378b6e77999" culture="neutral"/>
				<bindingRedirect oldVersion="1.5.0.1500-65535.65535.65535.65535" newVersion="1.5.0.1500"/>
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true"/>
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
		<gcServer enabled="true" />
		<gcConcurrent enabled="true" />
	</runtime>
</configuration>
