<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="dnlib" publicKeyToken="50e96378b6e77999" culture="neutral"/>
				<bindingRedirect oldVersion="1.5.0.1500-65535.65535.65535.65535" newVersion="1.5.0.1500"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9cc39be672370310" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.3.0-65535.65535.65535.65535" newVersion="5.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.Decompiler" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="2.3.1.0-65535.65535.65535.65535" newVersion="2.3.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-65535.65535.65535.65535" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory.CSharp" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-65535.65535.65535.65535" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory.VB" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
				<bindingRedirect oldVersion="5.0.0.0-65535.65535.65535.65535" newVersion="5.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>
