<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="dnlib" publicKeyToken="50e96378b6e77999" culture="neutral"/>
				<bindingRedirect oldVersion="1.6.0.0-1.6.65535.65535" newVersion="1.6.0.0"/>
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="1.1.0.0-1.1.65535.65535" newVersion="1.1.37.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true"/>
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
		<gcServer enabled="true"/>
		<gcConcurrent enabled="true"/>
		<!-- TODO: DoNotScaleForDpiChanges can be removed once we target 4.6.2 or later -->
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
