This file must be present here due to a Microsoft.DiaSymReader.Native.props (1.7.0) bug.
The native dll files aren't copied unless this condition is true:
  <ItemGroup Condition="Exists('packages.config') OR Exists('$(MSBuildProjectName).packages.config') OR Exists('packages.$(MSBuildProjectName).config')">
